body {
    background-color: #DFD7BF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #3F2E3E;
}

#banner {
    background-color: #080d0d;
    text-align: center;
    color: #331D2C;
    padding: 30px;
    background-image: url("https://images.unsplash.com/photo-1444927714506-8492d94b4e3d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80");
}

#menubar {
    width: 60%;
    margin: 0 auto;

}

#menulist {
    padding: 0;
    position: relative;
    overflow: auto;
}
.menuitem {
    width : 165px;
    float : left; 
    background-color: #A8A196;
    list-style-type: none;
    margin:4px;
    padding: 10px;
    text-align: center;
    cursor:pointer;
}

#menulist li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #2D4356;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#section-about p {
    text-align: justify;
    text-align: center;
}

#servicelist {
    padding: 0;
    position: relative;
    overflow: auto;
}
 
.serviceitem {
    width : 30%;
    float : left; 
    background-color: #A8A196;
    list-style-type: none;
    margin:4px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    cursor:pointer;
}
 
#resumelist {
    padding: 0;
    position: relative;
    overflow: auto;
}
 
.resumeitem {
    width : 30%;
    float : left; 
    list-style-type: none;
    margin:4px;
    padding: 10px;
    text-align: left;
    cursor:pointer;
}